.Home{
    background: white;
    width: 350px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
    margin: 0 auto; /* 페이지 중앙 정렬 */
    margin-top: 4rem;
  }

  .title2 {
    padding: 0.7rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
    background: #22b8cf;;
    color: white;
  }
  
  .form-wrapper {
    padding: 1rem;
  }
  
  .members-wrapper {
    min-height: 3rem;
  }
  
.create-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #22b8cf;
    text-align: center;
    margin: 20px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }  
  .create-button:hover {
    background: #3bc9db;
  }

.email {
  display: flex;
  border-bottom: 1px solid #c5f6fa;
  margin:20px;
  margin-bottom: 30px;
  }
  .email input {
    flex: 1; /* 버튼을 뺀 빈 공간을 모두 채워줍니다 */
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #c5f6fa;
  }

.password {
  display: flex;
  border-bottom: 1px solid #c5f6fa;
  margin:20px;
  margin-bottom: 30px;
  }

  .password input {
    flex: 1; /* 버튼을 뺀 빈 공간을 모두 채워줍니다 */
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #c5f6fa;
  }

  
  .inputBox {
    display: flex;
    border-bottom: 1px solid #c5f6fa;
    margin:20px;
    margin-bottom: 30px;
   
    }
    .inputBox input {
      flex: 1; /* 버튼을 뺀 빈 공간을 모두 채워줍니다 */
      font-size: 1rem;
      outline: none;
      border: none;
      border-bottom: 1px solid #c5f6fa;
    }

    .selectBox2 {
        display: flex;
        margin:20px;
        border-bottom: 1px solid black; 
        background-color: rgba(0,0,0,0);
        color:black; 
        padding: 5px;
      }

.x-box{
        position: relative;
        color: rgb(129, 122, 122);
        margin-left: auto;

        
 }