.logo {
    height: 3.5rem;
    background-color: #4577aa;
    width: 100vw;
    line-height: 3.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.logo title2 {
    line-height: 3.5rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.dropbtn {
    background-color: #21a0ea;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.menu {
    background-color: #568cc2;
    height: 3.5rem;
}

.menu-item {
    display: inline-block;
    color: white;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 33.3333%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #495057;
}

.menu-item:active, .menu-item.active {
    background-color: #1862ab;
}

.menu-flags {
  float: right;

}